<%- include('partials/header1')%>


<form method="POST"> 
  <table>

    <tr>
      <th class="th1" width="25%">Branch_No</th><!-- 非表示予定 -->
      <td class="td1"><input type="text" class='text1' name='branch_no'  id='branch_no' value="<%- branch_no2 %>" ></td>
    </tr>

    <tr>
      <th class="th1" width="25%">年月日 (*)<br></th>
      <td class="td1">
        <input type="text" class='text1' name='year' id='year' > 年　
        <input type="text" class='text1' name='month' id='month' > 月　
        <input type="text" class='text1' name='day' id='day' > 日
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">勘定科目 ／ 摘要 (*)</th>
      <td class="td1">
        <select id='code_name' name='code_name' class='text2'　required　value="<%- code_name %>">
          <option value="0">消耗品費</option>
          <option value="1">新聞図書費</option>
          <option value="2">会議費</option>
          <option value="3">交際費</option>
          <option value="4">その他</option>
        </select> ／
        <input type="text" class='text2' name='summary' id='summary' value="<%- summary %>">
        <span class="c-tooltip" data-tooltip="書籍購入制度利用の場合「書籍代」とご入力ください。">❔</span>
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">支払先 ／ 金額 (*)</th>
      <td class="td1">
        <input type="text" class='text2' name='payee' id='payee' value="<%- payee %>">
        <span class="c-tooltip" data-tooltip="経費利用に使用した場所をご入力ください。">❔</span> ／
        <input type="text" id='amount' name='amount' class="text2" value="<%- amount%>"> 円
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">ジョブコード ／ ジョブ名 (*)</th>
      <td class="td1">
        <input type="text" class='text2' id='job_no' name='job_no'  value="<%= job_no %> "> ／
        <input type="text" class='text2' id='job_name' name='job_name' value="<%= job_name %>">
        <input type="hidden"  id="job_manager" name="job_manager"  value="<%= job_manager %>">
        <input type="submit" class="search" id="btn-jobsearch" value="ジョブ検索"name="ex_jobsearch_to" formaction="ex_newrecord">
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">JM</th>
      <td class="td1">
        <select name='job_manager_name' class="text2" id='job_manager_name' value="<%= job_manager_name %>">
          <option value=0>----------</option>
          <option value=1>Aさん</option>
          <option value=2>Bさん</option>
        </select>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">顧客に請求</th>
      <td class="td1">
        <input name='claim_flag' type="hidden" value=0>
        <input type="checkbox" class='check' id='claim_flag' name='claim_flag' value=1>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">ジョブチャージ</th>
      <td class="td1">
        <input name='charge_flag' type='hidden' value=0>
        <input type='checkbox' class='check' id='charge_flag' name='charge_flag' value=1>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">領収書番号</th>
      <td class="td1">
        <input type="text" class='text1' id='ref_no' name='ref_no'>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">備考</th>
      <td class="td1">
        <span class="c-tooltip" data-tooltip="書籍購入制度利用の場合はBOOK ID、<br>会議費・交際費利用の場合は会社名・名前・役職・人数をご入力ください。">❔</span>
        <input type="text" class='text3' id='remarks' name='remarks' value="<%= remarks %>">
      </td>
    </tr>
  </table>

  <div class="box">
    <input type="submit" class="back" id="btn-return" value="戻る" onclick="frameClick();" formaction="/ex_newrecord">
    <input type="submit" class="save" id="save" value="保存"name='save' formaction="/ex_newrecord">
  </div>

</form>

<script type="text/javascript">
  'use strict'

  //戻るボタンでex_thismonthに遷移
  function frameClick() {
    document.location.href = 'http://localhost:3000/ex_thismonth';
  };

  //日付・時刻の初期値の設定
  var date = new Date();
  date.setDate(date.getDate());
  var year = date.getFullYear();
  var month = ("0"+(date.getMonth()+1)).slice(-2);
  var day = ("0"+date.getDate()).slice(-2);
  var hours = ("0"+date.getHours()).slice(-2);
  var minutes = ("0"+date.getMinutes()).slice(-2);
  console.log(date);
  document.getElementById("year").value=year;
  document.getElementById("month").value=month;
  document.getElementById("day").value=day;


  //     if(regularly.prop('checked')){
  // 	hiddenInput.attr('disabled', 'disabled');
  // 	checkboxInput.val('true');
  // }else{
  // 	hiddenInput.removeAttr('disabled');//hiddenのタグを有効にする
  // 	hiddenInput.val('false');
  // }

  function jobClick() {
    document.location.href = 'http://localhost:3000/ex_thismonth';
  };

  var val = document.getElementById('job_manager_name');
  val.onchange = function() {
    if (val !== 0) {
    alert('本来とは別のJMが選択されています。再確認の上、変更願います。');
    }
  }
</script>

<%- include('partials/footer1')%>