<%- include('partials/header1')%>


<form method="POST"> 
  <table>

    <tr>
      <th class="th1" width="25%">Branch_No</th><!-- 非表示予定 -->
      <td class="td1"><input type="text" class='text1' name='branch_no'  id='branch_no' value="<%- branch_no2 %>" ></td>
    </tr>

    <tr>
      <th class="th1" width="25%">日時 (*)<br></th>
      <td class="td1">
        <input type="text" class='text1' name='year' id='year' value="<%- year %>" required> 年　
        <input type="text" class='text1' name='month' id='month' value="<%- month %>" required> 月　
        <input type="text" class='text1' name='day' id='day' value="<%- day %>" required> 日　
        <input type="text" class='text1' name='time'  id='time' required>
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">交通手段 ／ 経路 (*)</th>
      <td class="td1">
        <select id='trans_type' name='trans_type' class='text1' value="<%- trans_type %>" onchange="onChangeWay()">
          <option value="1">電車</option>
          <option value="2">バス</option>
          <option value="3">タクシー</option>
          <option value="4">その他</option>
        </select> ／
        <input type="text" class='text2' name='trans_from' id='trans_from' value="<%- trans_from %>" required placeholder="出発地"> ～
        <input type="text" class='text2' name='trans_waypoint' id='trans_waypoint' value="<%- trans_waypoint %>" required placeholder="経由地 (任意)"> ～
        <input type="text" class='text2' name='trans_to' id='trans_to' value="<%- trans_to %>" required placeholder="目的地">
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">回数 ／ 単価 (*)</th>
      <td class="td1">
        <input type="number" class='text1' value='1' min='1' id='count' name='count'　value="<%- count %>"　required> 回 ／
        <input type="text" class='text1' id='amount' name='amount' value="<%- amount %>"　required> 円
        <input type="submit" class="search" id='search' value="交通費検索" name='search' formaction="/result">
      </td>
    </tr>
    <tr>
      <th class="th1"  width="25%">ジョブコード ／ ジョブ名 (*)</th>
      <td class="td1">
        <input type="text" class='text2' id='job_no' name='job_no'  value="<%= job_no %> "> ／
        <input type="text" class='text2' id='job_name' name='job_name' value="<%= job_name %>">
        <input type="hidden"  id="job_manager" name="job_manager"  value="<%= job_manager %>">
        <input type="submit" class="search" id="btn-jobsearch" value="ジョブ検索"name="te_jobsearch_to" formaction="te_newrecord"　href="/jobsearch">
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">JM</th>
      <td class="td1">
        <select name='job_manager_name' class="text2" id='job_manager_name' value="<%= job_manager_name %>">
          <option value=0>----------</option>
          <option value=1>Aさん</option>
          <option value=2>Bさん</option>
        </select>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">顧客に請求</th>
      <td class="td1">
        <input name='claim_flag' type="hidden" value=0>
        <input type="checkbox" class='check' id='claim_flag' name='claim_flag' value=1>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">ジョブチャージ</th>
      <td class="td1">
        <input name='charge_flag' type='hidden' value=0>
        <input type='checkbox' class='check' id='charge_flag' name='charge_flag' value=1>
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">領収書番号</th>
      <td class="td1">
        <input type="text" class='text1' id='ref_no' name='ref_no'　value="<%- ref_no %>">
      </td>
    </tr>
    <tr>
      <th class="th2"  width="25%">備考</th>
      <td class="td1">
        <input type="text" class='text3' id='remarks' name='remarks' value="<%- remarks %>">
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th class="th1"  width="25%">承認クラス</th>
      <td class="td1"><%= app_class %></td>
    </tr>
    <tr>
      <th class="th1"  width="25%">承認フラグ</th>
      <td class="td1"><%= app_flag %></td>
    </tr>
    <tr>
      <th class="th1"  width="25%">コメント</th>
      <td class="td1"><%= comment %></td>
    </tr>
  </table>
  <div class="box">
    <input type="submit" class="back" id="btn-return" value="戻る" onclick="frameClick();" formaction="/te_thismonth">
    <input type="submit" class="delete" id="delete" value="削除" name='delete' formaction="/te_thismonth">
    <input type="submit" class="save" id="save" value="保存"name='save' formaction="/te_thismonth">
  </div>

</form>

<script type="text/javascript">

    'use strict'

    //戻るボタンでte_thismonth.jsに遷移
    function frameClick() {
        document.location.href = 'http://localhost:3000/te_thismonth';
    };

    //日付・時刻の初期値の設定
    var date = new Date();
    date.setDate(date.getDate());
    var year = date.getFullYear();
    var month = ("0"+(date.getMonth()+1)).slice(-2);
    var day = ("0"+date.getDate()).slice(-2);
    var hours = ("0"+date.getHours()).slice(-2);
    var minutes = ("0"+date.getMinutes()).slice(-2);
    console.log(date);
    document.getElementById("year").value=year;
    document.getElementById("month").value=month;
    document.getElementById("day").value=day;
    document.getElementById("time").value=hours+minutes;
    
//     if(regularly.prop('checked')){
// 	hiddenInput.attr('disabled', 'disabled');
// 	checkboxInput.val('true');
// }else{
// 	hiddenInput.removeAttr('disabled');//hiddenのタグを有効にする
// 	hiddenInput.val('false');
// }

    // ジョブ検索で表示されたJMから変更される→注意喚起ポップアップ
    var val = document.getElementById('job_manager_name');
    val.onchange = function() {
        if (val !== 0) {
        alert('本来とは別のJMが選択されています。再確認の上、変更願います。');
        }
    }
    
    // // 「顧客に請求する」: チェック=1、未チェック=0に変換
    // function onChangeCheckBox1() {
    // var check1 = document.getElementById("claim_flag").checked;
    // if (check1 == true) {
    //     claim_flag.value = 1;
    //     cb1.value = 0;
    //     console.log(claim_flag);
    // } else {
    //     claim_flag.value = 0;
    //     cb1.value = 1;
    //     console.log(claim_flag);
    // }
    // }

    // // 「ジョブにチャージ」: チェック=1、未チェック=0に変換
    // function onChangeCheckBox2() {
    // var check2 = document.getElementById('charge_flag').checked;
    // if (check2 == true) {
    //     charge_flag.value = 1;
    //     cb2.value = 0;
    //     console.log(charge_flag);
    // } else {
    //     charge_flag.value = 0;
    //     cb2.value = 1;
    //     console.log(charge_flag);
    // }
    // }

    // 「交通手段」: 電車=1、バス=2、タクシー=3、その他=0に変換
    // function onChangeWay() {
    //     var element = document.getElementById("trans_type");
    //     if (element == '電車') {
    //         charge_flag.value = 1;
    //     } else {
    //         // 選択状態ではない
    //     }
    //     }
</script>

<%- include('partials/footer1')%>