<%- include('partials/header1')%><!-- ヘッダーを統一 -->

<nav class="navbar"><!-- ナビを変更 -->
  <ul class="top">
    <h3>経費</h3>
    <li><a href="/te_thismonth">交通費</a></li>
  </ul>
</nav>

<div class="date_box">
  <button class="last" onclick="location.href='/ex_lastmonth'">◀</button>
  <b><%- lmonth %>/21 ~ <%- tmonth %>/20分</b><!-- 文字を微調整 -->
</div>

<nav class="navbar"><!-- ナビを変更 -->
  <ul class="bottom">
    <li><a href="/ex_newrecord">新規登録</a></li>
    <li><a href="/ex_newrecord_book">書籍登録</a></li>
    <li><a href="/ex_newrecord_kousai">交際費登録</a></li>
    <li><a href="/ex_newrecord_kaigi">会議費登録</a></li>
  </ul>
</nav>
<form method="POST" action="ex_newrecord">
  <input type="hidden" name="emp_no"  value="001">
  <input type="submit" value="書籍登録" name='book' style="margin:0px; float:left;background:blue;color:white;"><input type="submit" value="交際費登録" name='kousai' style="margin:0px; float:left;background:blue;color:white;"><input type="submit" value="会議費登録" name='mtg' style="margin:0px; float:left;background:blue;color:white;">
</form>

<!-- <button class="btn btn-primary" id="detail">新規登録</button> -->
<table>
  <tr>
    <th width="120px">ステータス</th>
    <th width="70px">No</th>
    <th width="120px">利用日</th>
    <th width="150px">支払先</th>
    <th width="150px">摘要</th>
    <th width="150px">税込金額</th>
    <th width="150px">勘定科目</th>
    <th width="150px">Jobコード</th>
    <th>詳細</th>
  </tr>
  <% for(let i in status){ %>
  <tr id="records">   
    <td id=status class=status><%= status[i] %> </td>
    <td id=branch_no><%- branch_no[i] %></td>
    <td id=month><%- month[i] %>/<%- day[i] %></td>
    <td id=trans_from><%- payee[i] %></th>
    <td id=trans_to><%- summary[i] %></td>
    <td id=amount><%- amount[i] %></td>
    <td id=count><%- code_name[i] %> </td>
    <td id=job_no><%- job_no[i] %> </td>
    </div>
    <form method="POST" action="/ex_detail"> 
      <!-- PKをDBに投げれるようにする。後工程でTe_DetailファイルでDBにSELECT文を送る -->
      <!-- <input type="hidden" name=status value="<%= status[i] %>"> -->
      <input type="hidden" name=branch_no value="<%= branch_no[i] %>">
      <input type="hidden" name=month value="<%= month[i] %>">
      <input type="hidden" name=day value="<%= day[i] %>">
      <td><input type="submit" class="more" name="ex_detail" value="詳細"></td>
    </form>
  </tr>
  <% } %>
</table>

<div class="box">
  <form method="POST" action="ex_shinsei">
    <input type="hidden" name="emp_no"  value="001">
    <input type="submit"  value="申請" class="OK"><!-- クラス付与 -->
  </form>
</div>

<hr class="mt-5">
<div class="remind">
  <p1 class="text-center h2">締め日<%= lastday  %> 日前です。</p>
  <p1 class="text-center h2">締め日前にJM承認に上げてください。</p>
</div>
<hr class="mt-5">

<script>　//Ph2teambのもの
  'use strict';
  document.getElementById("detail").onclick=function(){
    document.location="/detail";//詳細設定ページへc
  }
  function copy(id,shuppatsu,totyaku,shudan,money,times,job,memo){
    let result= window.confirm("以下のメモをコピーしますか？\n"+"経路："+shuppatsu+"~"+totyaku+"\n手段："+shudan+"\n費用："+money+"\n回数："+times+"\nジョブ情報："+job+"\nメモ："+memo);
  }
  function rel() {
if (window.name != "any") {
  location.reload();
  window.name = "any";
} else {
  window.name = "";
}
}

</script>
<script src="/jquery/jquery.js"></script>
<script>
'use strict';
$(".status:contains('88')").text("承認")
$(".status:contains('11')").text("JM申請中")
$(".status:contains('19')").text("JM却下")
$(".status:contains('21')").text("経理申請中")
$(".status:contains('29')").text("経理却下")
$(".status:contains('00')").text("未申請")


$("td:contains('未申請')").parent("tr").css("background-color", "#FFDBC9"); //未申請の行を赤で表示

var today=new Date();　//本日が15~20であればリマインドを表示、他の場合はしない。
if(today.getDate()>20　|| today.getDate()<15　){
$('p1').remove();
}else{
  $('p1').css("background-color", "red");
}

</script>

<%- include('partials/footer1')%><!-- フッターを追加 -->