<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST">
      <label for='trans_from'>出発地</label> 
      <input type="text" class='form-control' name='trans_from' id='trans_from' required placeholder="必須" value=<%= trans_from %>>
      <label for='trans_to'>目的地</label> 
      <input type="text" class='form-control' name='trans_to' id='trans_to'  required placeholder="必須" value=<%= trans_to %>>
      <label for='trans_waypoint'>経由地</label>
      <input type="text" class='form-control' name='trans_waypoint' id='trans_waypoint'  placeholder="省略可" value=<%= result2[1] %>>
      <input type="text" class='form-control' name='branch_no' id='branch_no'  placeholder="省略可" value=<%= branch_no2 %>>
    </form>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>経路</th>
        <th>単価</th>
        <th>選択</th>
      </tr>
      </thead>
      <tbody>
        <% for(let i in result){ %>
          <div class="content"
          <tr id="records">   
            <td id=Route class=Route><%= result[i] %> </td>
            <td id=amount><%- result1[i] %></td>
            </div>
            <form method="POST" action="/te_newrecord"> 
                <input type="hidden" name='trans_from' id='trans_from' required placeholder="必須" value=<%= trans_from %>>
                <input type="hidden" name='trans_to' id='trans_to'  required placeholder="必須" value=<%= trans_to %>>
                <input type="hidden" name='branch_no'  id='branch_no' value="<%- branch_no2 %>">
              <input type="hidden" name='Route' value="<%= result[i] %>">
              <input type="hidden" id='amount' name='amount' value="<%= result1[i] %>">
              <input type="hidden" id='trans_waypoint' name='trans_waypoint' value="<%= result2[i] %>">
              <td><input type="submit" class="btn btn-secondary" name="search" id="search" value="選択"></td>
            </form>
          </tr>
          <% } %>
      </tbody>
      </table>
        </form>
    </form>
  </body>
</html>