<!DOCTYPE html>
<html>
  <head>
    <title>ジョブ検索</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet'  href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
  </head>
  <body class= 'container p-3'>
    <h1>ジョブ検索</h1>
    <form method="POST"> 
      <input type="text" name='trans_from' id='trans_from' value="<%= trans_from  %>">
      <input type="hidden" name='trans_to' id='trans_to'  value="<%= trans_to  %>">
      <input type="hidden" name='trans_waypoint' id='trans_waypoint'  value="<%= trans_waypoint  %>">
      <input type="hidden" class='form-control' name='branch_no'  id='branch_no' value="<%- branch_no2 %>" >
      <input type="hidden" class='form-control' name='year' id='year'value="<%- year %>" >
      <input type="hidden" class='form-control' name='month' id='month' value="<%- month %>">
      <input type="hidden" class='form-control' name='day' id='day' value="<%- day %>">
      <div class='form-group'>
        <label for='jobcode'>ジョブコード</label> 
        <input type="text" class='form-control' id='jobsearchcode' name='jobsearchcode' value="<%= job_no  %> ">
      </div>
    <div class="form-group">
      <label for='jobname'>ジョブ名</label> 
      <input type="text" class='form-control' id='jobsearchname' name='jobsearchname' value="<%= job_name  %> ">
        </div>
        <div>
          <input type="submit" value="検索" class="btn btn-primary" name='jobsearch' formaction="/te_jobsearch" >
      </div>
      </form>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>JOBコード</th>
          <th>JOB名</th>
          <th>JMコード</th>
          <th>JM名</th>
        </tr>
        </thead>
        <tbody>
          <% for(let i in job_id){ %>
            <div class="content">
            <tr id="records">   
              <td><%= job_id[i] %> </td>
              <td><%= job_name[i] %> </td>
              <td><%= job_manager[i] %> </td>
              <td><%= job_manager_name[i] %> </td>
              </div>
              <form method="POST" action="/te_newrecord"> 
                <input type="hidden" name="job_id" value="<%= job_id[i]  %> ">
                <input type="hidden" name="job_name" value="<%= job_name[i] %> ">
                <input type="hidden" name="job_manager" value="<%= job_manager[i]  %> ">
                <input type="hidden" name="job_manager_name" value="<%= job_manager_name[i]  %> ">
                  <input type="hidden" name='trans_from' id='trans_from' value="<%= trans_from  %>">
                  <input type="hidden" name='trans_to' id='trans_to'  value="<%= trans_to  %>">
                  <input type="hidden" name='trans_waypoint' id='trans_waypoint'  value="<%= trans_waypoint  %>">
                  <input type="hidden" name='branch_no'  id='branch_no' value="<%= branch_no2 %>">
                <td><input type="submit" class="btn btn-secondary" name="te_jobsearch" id="te_jobsearch" value="選択"></td>
              </form>
            </tr>
            <% } %>
        </tbody>
        </table>
  </body>
</html>