<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">

<head>  
  <title>ジョブ検索</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style_B.css' />
  <link rel='stylesheet' href='/stylesheets/new_style_B.css' />
  <link rel='stylesheet' href='/stylesheets/button_B.css' />
</head>

<body>
<header>
  <div class="header_area">
    <div class="header_block">
      <div class="header_box">
        <div class="box">
          <h1>ジョブ検索</h1>
          <img src="images/logomesse.png" alt="" class="img">
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="contents_wrap">
    <div class="contents_area">
        <div class="content_block">
          <form method="POST"  > 
            <input type="hidden" name='trans_from' id='trans_from' value="<%= trans_from  %>">
            <input type="hidden" name='trans_to' id='trans_to'  value="<%= trans_to  %>">
            <input type="hidden" name='trans_waypoint' id='trans_waypoint'  value="<%= trans_waypoint  %>">
            <input type="hidden" class='form-control' name='branch_no'  id='branch_no' value="<%- branch_no2 %>" >
            <input type="hidden" class='form-control' name='year' id='year'value="<%- year %>" >
            <input type="hidden" class='form-control' name='month' id='month' value="<%- month %>">
            <input type="hidden" class='form-control' name='day' id='day' value="<%- day %>">
            <input type="hidden" class='form-control' name='amount' id='amount' value="<%- amount %>">
            <table>
              <tr>
                <th class="th1" width="25%">
                  ジョブコード
                </th>
                <td class="td1">
                  <input type="text" class='text2' id='jobsearchcode' name='jobsearchcode' value="<%=jobsearchcode%>">
                </td>
              </tr>
              <tr>
                <th class="th1" width="25%">
                  ジョブ名
                </th>
                <td class="td1">
                  <input type="text" class='text2' id='jobsearchname' name='jobsearchname' value="<%=jobsearchname%>">
                  <input type="submit" value="検索" class="jobsearch" formaction="/te_jobsearch">
                </td>
              </tr>
            </table>
          </form>
            <table>
              <tr>
                <th width="25%">JOBコード</th>
                <th width="25%">JOB名</th>
                <th width="25%">JMコード</th>
                <th width="25%">JM名</th>
              </tr>
              <% for(let i in job_id){ %>
                
                <tr id="records">   
                  <td><%= job_id[i] %> </td>
                  <td><%= job_name[i] %> </td>
                  <td><%= job_manager[i] %> </td>
                  <td><%= job_manager_name[i] %> </td>
                  <form method="POST" action="/te_newrecord">
                    <input type="hidden" name="job_id" value="<%= job_id[i]  %> ">
                    <input type="hidden" name="job_name" value="<%= job_name[i] %> ">
                    <input type="hidden" name="job_manager" value="<%= job_manager[i]  %> ">
                    <input type="hidden" name="job_manager_name" value="<%= job_manager_name[i]  %> ">
                    <input type="hidden" name='trans_from' id='trans_from' value="<%= trans_from  %>">
                    <input type="hidden" name='trans_to' id='trans_to'  value="<%= trans_to  %>">
                    <input type="hidden" name='trans_waypoint' id='trans_waypoint'  value="<%= trans_waypoint  %>">
                    <input type="hidden" name='branch_no'  id='branch_no' value="<%= branch_no2 %>">
                    <input type="hidden" class='form-control' name='year' id='year'value="<%- year %>" >
                    <input type="hidden" class='form-control' name='month' id='month' value="<%- month %>">
                    <input type="hidden" class='form-control' name='day' id='day' value="<%- day %>">
                    <input type="hidden" class='form-control' name='amount' id='amount' value="<%- amount %>">
                    <td>
                    <input type="submit" class="jobsearch" name="te_jobsearch" id="jobsearch" value="選択">
                    </td>
                    </form>
                </tr>
                <% } %>
            </table>
            <form method="POST">
            <div class="box">
              <input type="submit" class="back" id="btn-return" value="戻る" onclick="history.back()" formaction="/te_newrecord">
            </div>
          </form>

<%- include('partials/footer1')%>