<%- include('partials/header1')%><!-- ヘッダーを統一 -->

<nav class="navbar"><!-- ナビを変更 -->
  <ul class="top">
    <li><a href="/ex_thismonth">経費</a></li>
    <h3>交通費</h3>
  </ul>
</nav>

<div class="date_box">
  <b><%- lmonth %>/21 ~ <%- tmonth %>/20分</b><!-- 文字を微調整 -->
  <button class="next" onclick="location.href='/te_thismonth'">▶</button>
</div>

<table>
  <tr>
    <th width="120px">ステータス</th>
    <th width="70px">No</th>
    <th width="120px">利用日</th>
    <th width="120px">From</th>
    <th width="120px">To</th>
    <th width="80px">単価</th>
    <th width="80px">回数</th>
    <th width="80px">小計</th>
    <th width="150px">Jobコード</th>
    <th>今月にコピー</th>
  </tr>
  <% for(let i in status){ %>
  <tr id="records">   
    <td id=status><%= status[i] %> </td>
    <td id=branch_no><%- branch_no[i] %></td>
    <td id=month><%- month[i] %>/<%- day[i] %></td>
    <td id=trans_from><%- trans_from[i] %></th>
    <td id=trans_to><%- trans_to[i] %></td>
    <td id=amount><%- amount[i] %></td>
    <td id=count><%- count[i] %> </td>
    <td id=subtotal><%- subtotal[i] %></td>
    <td id=job_no><%- job_no[i] %> </td>
    </div>
    <form method="POST" action="/te_lastmonth"> 
      <!-- PKをDBに投げれるようにする。後工程でTe_DetailファイルでDBにSELECT文を送る -->
      <!-- <input type="hidden" name=status value="<%= status[i] %>"> -->
      <input type="hidden" name=branch_no value="<%= branch_no[i] %>">
      <input type="hidden" name=month value="<%= month[i] %>">
      <input type="hidden" name=day value="<%= day[i] %>">
      <td><input type="submit" class="more" name="te_copy" value="コピー"></td>
    </form>
  </tr>
  <% } %>
</table>

<hr class="mt-5">
<script>
'use strict';
document.getElementById("detail").onclick=function(){
  document.location="/detail";//詳細設定ページへ
}
function copy(id,shuppatsu,totyaku,shudan,money,times,job,memo){
  let result= window.confirm("以下のメモをコピーしますか？\n"+"経路："+shuppatsu+"~"+totyaku+"\n手段："+shudan+"\n費用："+money+"\n回数："+times+"\nジョブ情報："+job+"\nメモ："+memo);
}
function rel() {
  if (window.name != "any") {
    location.reload();
    window.name = "any";
  } else {
    window.name = "";
  }
}
</script>

<script src="/jquery/jquery.js"></script>

<script>
  'use strict';
  $(".status:contains('88')").text("承認")
  $(".status:contains('11')").text("JM申請中")
  $(".status:contains('19')").text("JM却下")
  $(".status:contains('21')").text("経理申請中")
  $(".status:contains('29')").text("経理却下")
  $(".status:contains('00')").text("未申請")
</script>

<%- include('partials/footer1')%><!-- フッターを追加 -->